.jumbotron{
   font-family: 'Jua', sans-serif;
   background-color: #EAEAEA !important;
   color:gray;
}

.table-head{
   font-family: 'Jua', sans-serif;
}

.btn{
   font-family: 'Jua', sans-serif;

}

.navbar{
   font-family: 'Jua', sans-serif;
}

.modal-body{
   font-family: 'Jua', sans-serif;
}